 - name: "Creates backend app directory"
   file:
       path: /home/ubuntu/backend
       state: directory 


 - copy:
       src:  /home/circleci/project/.circleci/ansible/roles/deploy/artifact-"${CIRCLE_WORKFLOW_ID:0:7}".tar.gz 
       dest: /home/ubuntu/backend

 - name: "Unarchive backend files"
   unarchive:
       src: artifact-"${CIRCLE_WORKFLOW_ID:0:7}".tar.gz
       dest: /home/ubuntu/backend
   

 - name: "Executing Node app with PM2"
   shell: |
     cd /home/ubuntu/backend
     npm install
     cd /home/ubuntu/backend/dist
     pm2 stop default
     pm2 start main.js

 - name: "Configure pm2 to start as service"
   shell: |
     sudo su -c "env PATH=$PATH:/usr/local/bin pm2 startup systemd -u ubuntu --hp /home/ubuntu"
     pm2 save
       