version: 2.1





  
jobs:
  deploy-backend:
    docker:
      - image: noura1990/myrepo
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: ["83:7e:bb:78:07:17:1a:8f:9b:fb:96:6f:d0:18:0b:3e"]
      
      - run:
          name: Deploy backend
          command: |
            cd backend
            npm i
            npm run build
            tar -czvf artifact.tar.gz dist/* package*
            pwd
            ls
            cp /home/circleci/project/backend/artifact.tar.gz  ~/project/.circleci/ansible/roles/deploy/artifact.tar.gz
            ls ../.circleci/ansible/roles/deploy/
            cd ../.circleci/ansible/
            echo "[web]" > inventory.txt
            export TYPEORM_HOST=$(aws ec2 describe-instances --region us-east-1 --query 'Reservations[*].Instances[*].PublicIpAddress' --output text )
            echo $TYPEORM_HOST >> inventory.txt
            pwd
            ls -larth
            
            ansible-playbook -i inventory.txt deploy-backend.yml

  smoke-test:
    docker:
      - image: noura1990/myrepo
    steps:
      - checkout
      
      

      - run:

          name: Frontend smoke test.
          command: |
           URL="http://udapeople-ccf4ffc.s3-website-us-east-1.amazonaws.com/#/employees.s3-website-us-east-1.amazonaws.com/#/employees"            
           echo ${URL} 
           if curl -s ${URL} | grep "Welcome"
           then
               echo "It worked!"
               exit 0
           else
               echo "Rolling back"
               exit 1
           fi
      





             
  
workflows:
  default:
    jobs:
      #- build-frontend
      #- build-backend
      #- test-frontend:
       #   requires: [build-frontend]
      #- test-backend:
        # requires: [build-backend]
      #- scan-frontend:
      #   requires: [build-frontend]
      #- scan-backend:
      #    requires: [build-backend]
      #- deploy-infrastructure:
         # requires: [test-frontend, test-backend]
      #- configure-infrastructure:
         #requires: [deploy-infrastructure]
      #- run-migrations:
          #requires: [configure-infrastructure]
      #- deploy-frontend:
          #requires: [run-migrations]
      - deploy-backend
          #requires: [deploy-frontend]
      - smoke-test
          

      